.cell {
  border: 0px solid grey;
  height: 100%;
  width: 100%;
  background-color: transparent;
  transition: background-color 1s;
}
.cell.alive {
  background-color: #8eff45;
  transition: background-color 1s;
}
